$border-color: #efefef;

#model {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    display: flex;
}

#ModelBlock {
    padding: 10px;
    background-color: white;
    margin: 10% auto auto auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.ModelHeadline {
    margin: 20px auto auto auto;
    font-size: 22px;
}

.ModelSectionHeadline {
    margin: 30px auto auto auto;
    font-size: 20px;
}

.ModelSection {
    padding: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
}

.ModelInputBlock {
    display: flex;
    margin: 20px 10px 0 10px;
    &:last-of-type {
        margin: 20px 10px 30px 10px;
    }
}

.ModelInput {
    border: 1px solid $border-color;
    font-size: 20px;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    &:focus {
        border: 1px solid darken($border-color, 20%) ;
    }
}

.ModelButton {
    margin: auto;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    background-color: #5731f1;
    color: white;
    border-radius: 5px;
    border: 1px solid $border-color;
    &:hover {
        background-color: #6a46fa;
    }
}

.ModelLogOutButton {
    background-color: rgb(250, 61, 61);
    &:hover{
        background-color: rgb(248, 113, 113);
    }
}

.ModelErrorBlock {
    display: flex;
    margin: 20px 10px 30px 10px;
}

.ModelError {
    margin: auto;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(250, 61, 61);
    color: white;
}

.ModelSuccessBlock {
    display: flex;
    margin: 20px 10px 30px 10px;
}

.ModelSuccess {
    margin: auto;
    font-size: 20px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    background-color: rgb(46, 251, 73);
    color: white;
}

.ModelLinkBlock {
    margin: 20px 10px 0 10px;
    color: rgb(161, 161, 161);
    cursor: pointer;
    font-size: 14px;
    &:hover {
        color:rgb(180, 180, 180);
    }
}