.Day {
    display: flex;
    justify-content: space-between;
    width: 70px;
    height: 70px;
    padding: 15px;
    margin: 15px;
    background-color: #efefef;
    cursor: pointer;
    &:hover {
        background-color: #a58fff;
    }
}

.DayNumberFree {
    color: red;
}

.DayNumberText {
    font-size: 35px;
}

.DayImageSection {
    display: flex;
}

.DayImg {
    margin-top: auto;
    width: 25px;
    height: 25px;
}

.DayAnotherMonth {
    opacity: 60%;
}