.Day {
    display: flex;
    width: 200px;
    height: 200px;
}

.DayNumber {
    width: 300px;
    height: 300px;
}

.DayNumberFree {
    color: red;
}

.DayNumberText {
    font-size: 200px;
}

.DayImg {
    width: 25px;
    height: 25px;
}